// Vertical Center
@mixin vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

// Horizontal Center
@mixin horizontal-center {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

// Create CSS Circle
@mixin create-circle($size, $background) {
	content: '';
	position: absolute;
	left: -($size / 2);
	width: $size;
	height: $size;
	background: $background;
	border-radius: 50%;
}
