.calendar {
	width: 100%;
	background: $sidebar-background-color;

	// Styles for SM+ breakpoints
	@include breakpoint(sm) {
		position: fixed;
		top: 0;
		right: 0;
		width: 60%;
		height: 100%;
		overflow-y: auto;
		background: $white;
	}

	// Styles for LG breakpoint
	@include breakpoint(lg) { width: 66%; }

	&__grid {
		width: $sm--calendar-week-width;
		margin: 0 auto;
		padding-top: 100px;

		// Styles for SM+ breakpoints
		@include breakpoint(sm) {
			margin: $pad-medium auto;
			padding: 0;
		}

		// Styles for MD+ breakpoints
		@include breakpoint(md) {
			@include vertical-center;
			width: $lg--calendar-week-width;
			margin: 0 auto;
		}
	}
}
