.day {
	display: block;
	float: left;
	width: $calendar-day-width;
	height: $calendar-day-height;
	text-align: center;
	font-size: $font-size-large;
	color: $default-text-color;

	&__text {
		@include vertical-center;
	}

	&__button {
		width: $calendar-day-btn-width;
		height: $calendar-day-btn-height;
	}

	&--selected &__button {
		background: $accent-color;
		border-radius: 50%;
		color: $white;
	}

	&--has-events &__button {
		position: relative;

		&:after {
			@include create-circle($pad-small, $accent-color);
			@include horizontal-center;
			position: absolute;
			bottom: -($pad-medium);
		}
	}
}