.day {
	display: block;
	float: left;
	width: $sm--calendar-day-width;
	height: $sm--calendar-day-height;
	font-size: $font-size-medium;
	text-align: center;
	color: $white;

	// Styles for SM+ breakpoints
	@include breakpoint(sm) {
		font-size: $font-size-medium;
		color: $default-text-color;
	}

	// Styles for MD+ breakpoints
	@include breakpoint(md) {
		width: $lg--calendar-day-width;
		height: $lg--calendar-day-height;
		font-size: $font-size-large;
	}

	&--heading {
		font-weight: $font-weight-bold;
		font-size: $font-size-small;
		text-transform: uppercase;

		// Styles for SM+ breakpoints
		@include breakpoint(sm) { font-size: $font-size-medium; }
		@include breakpoint(md) { font-size: $font-size-large; }
	}

	&__text {
		@include vertical-center;
	}

	&__button {
		width: $sm--calendar-day-btn-width;
		height: $sm--calendar-day-btn-height;
		border-radius: 50%;
		color: $white;
		transition: all 150ms ease;

		// Styles for SM+ breakpoints
		@include breakpoint(sm) {
			color: $default-text-color;
		}

		// Styles for MD+ breakpoints
		@include breakpoint(md) {
			width: $lg--calendar-day-btn-width;
			height: $lg--calendar-day-btn-height;
		}

		&:focus {
			outline: none;
		}
	}

	&--selected &__button {
		background: $primary-accent-color;
		color: $white;
	}

	&--has-events &__button {
		position: relative;

		&:after {
			@include create-circle(6px, $secondary-accent-color);
			@include horizontal-center;
			position: absolute;
			bottom: -($pad-small);
		}
	}

	.calendar__grid:focus &--focused &__button {
		background: $gray;
		color: $white;
	}
}