.event-list {
    position: relative;

    &__heading {
        display: inline-block;
        border-radius: $pad-large;
        background: $secondary-accent-color;
        padding: $pad-small $pad-large;
        line-height: $line-height-medium;
        color: $default-text-color;
        font-size: $font-size-medium;

        // Styles for SM+ breakpoints
        @include breakpoint(sm) {
            margin-top: $pad-large;
        }
    }

    &__events-container {
        position: relative;
        margin-left: $pad-large;

        &:after {
            @include create-circle(8px, $secondary-accent-color);
        }
    }

    &__screen-reader-text {
        @extend .sr-only;
        top: 24px;
        width: 100%;
    }

    &__screen-reader-text:focus + &__heading { outline: 1px dotted $primary-accent-color; }
}

.react-calendar--datepicker-active .event-list {
    &__heading {
        margin: 0;
    }
}
