.event-list {
	&__heading {
		display: inline-block;
		margin-top: 24px;
		padding: 12px 24px;
		background: $white;
		font-weight: $font-weight-light;
		font-size: $font-size-small;
		color: $accent-color;
		border-radius: 24px;
	}

	&__events-container {
		position: relative;
		margin-left: 24px;

		&:after {
			content: '';
			position: absolute;
			left: -4px;
			width: 8px;
			height: 8px;
			background: $white;
			border-radius: 50%;
		}
	}
}
