.event {
	position: relative;
	padding: $pad-large 0 $pad-xlarge $pad-large;
	border-left: 1px solid $secondary-accent-color;

	&__time {
		margin-bottom: $pad-small;
		font-weight: $font-weight-semibold;
		font-size: $font-size-small;
		color: $white;

		&:before {
			@include create-circle(8px, $sidebar-background-color);
			border: 1px solid $secondary-accent-color;
		}
	}

	&__name {
		font-weight: $font-weight-light;
		font-size: $font-size-large;
		line-height: $line-height-large;
		color: $primary-accent-color;
	}

	&__location {
		position: relative;
		margin-top: $pad-small;
		padding-left: $pad-small;
		font-weight: $font-weight-light;
		font-size: $font-size-small;
		line-height: $line-height-small;

		&:before {
			@extend .fa;
			@extend .fa-map-marker;
			position: absolute;
			left: 0;
			color: $secondary-accent-color;
		}
	}
}
