.sidebar {
	width: 100%;
	padding: $pad-xlarge $pad-large;
	background: $sidebar-background-color;
	color: $white;

	// Styles for SM+ breakpoints
	@include breakpoint(sm) {
		position: fixed;
		top: 0;
		left: 0;
		width: 40%;
		height: 100%;
		overflow-y: auto;
	}

	// Styles for LG breakpoint
	@include breakpoint(lg) { width: 33%; }

	&__heading,
	&__button-container {
		display: inline-block;
	}

	&__heading {
		font-weight: $font-weight-light;
		font-size: $font-size-large;
		color: $white;

		// Styles for MD+ breakpoints
		@include breakpoint(md) {
			font-size: $font-size-xlarge;
		}
	}

	&__button-container {
		float: right;
	}

	&__button {
		line-height: $font-size-large;
		color: $white;
		cursor: pointer;

		// Styles for MD+ breakpoints
		@include breakpoint(md) {
			line-height: $font-size-xlarge;
		}
	}

	&__content {
		margin: $pad-large 0 $pad-xxlarge;
		transition: opacity 200ms ease;
	}

	&__message {
		margin-top: $pad-xxlarge;
		font-weight: $font-weight-light;
		font-size: $font-size-medium;
	}


	//////////////////////////////////////////////////////////////////////
	// FADE IN / OUT TRANSITION
	//////////////////////////////////////////////////////////////////////
	&__content--fadein,
	&__content--fadeout {
		position: absolute;
	}

	&__content--fadein--active,
	&__content--fadeout {
		opacity: 1;
	}

	&__content--fadein,
	&__content--fadeout--active {
		opacity: 0;
	}

}