.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 33%;
	height: 100%;
	overflow-y: auto;
	padding: $pad-xlarge $pad-large;
	background: $primary-accent-color;
	color: $white;

	&__heading,
	&__button-container {
		display: inline-block;
	}

	&__heading {
		font-weight: $font-weight-light;
		font-size: $font-size-xlarge;
	}

	&__button-container {
		float: right;
	}

	&__button {
		font-size: $font-size-medium;
		line-height: $font-size-xlarge;
		color: $white;
		cursor: pointer;
	}

	&__content {
		margin: $pad-large 0 $pad-xxlarge;
		transition: opacity 200ms ease;
	}

	&__message {
		margin-top: $pad-xxlarge;
		font-weight: $font-weight-light;
		font-size: $font-size-medium;
	}


	//////////////////////////////////////////////////////////////////////
	// FADE IN / OUT TRANSITION
	//////////////////////////////////////////////////////////////////////
	&__content--fadein,
	&__content--fadeout {
		position: absolute;
	}

	&__content--fadein--active,
	&__content--fadeout {
		opacity: 1;
	}

	&__content--fadein,
	&__content--fadeout--active {
		opacity: 0;
	}

}