.react-calendar__sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 33%;
	height: 100%;
	padding: 36px 24px;
	background: $accent-color;
	color: $white;

	&__header-text,
	&__header-buttons {
		display: inline-block;
	}

	&__header-text {
		font-weight: $font-weight-light;
		font-size: $font-size-large;
	}

	&__header-buttons {
		float: right;

		button {
			font-size: $font-size-small;
			line-height: $font-size-large;
			color: $white;
			cursor: pointer;
		}
	}
}