@import './font-awesome/font-awesome';
@import './core/reset';
@import './core/fonts';
@import './core/mixins';
@import './vars';

html {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

button {
	background: transparent;
	border: 0;
	font: inherit;
	cursor: pointer;
}

@import './components';
