@import './font-awesome/font-awesome';
@import './core/reset';
@import './core/fonts';
@import './core/mixins';
@import './vars';

html {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background: $sidebar-background-color;

    // Styles for SM+ breakpoints
    @include breakpoint(sm) {
        background: $white;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
    font: inherit;
}

.react-calendar {
    position: relative;
}

@import './components';
