// Dimensions
$calendar-day-width: 75px;
$calendar-day-height: 75px;
$calendar-day-btn-width: 46px;
$calendar-day-btn-height: 46px;
$calendar-week-width: calc(#{$calendar-day-width} * 7);
$calendar-week-height: $calendar-day-height;


// Block Padding & Margin Sizes
$pad-small: 6px;
$pad-medium: 12px;
$pad-large: 24px;
$pad-xlarge: 36px;
$pad-xxlarge: 58px;


// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;


// Font Sizes
$font-size-small: 12px;
$font-size-medium: 16px;
$font-size-large: 24px;
$font-size-xlarge: 36px;


// Colors
$white: #ECF0F1;
$default-text-color: #2C3E50;
$accent-color: #16A085;
